.cr-wrapper {
    margin-bottom: 32px;
    text-align: center;
    color: #000;
}

.cr-wrapper li {
    list-style: none;
}
#cr-head > p {
    padding: 8px 0;
}
.cr-wrapper p,
#cr-sliders > .cr-padding > p {
    margin: auto;
}
/* .woocommerce .woocommerce-cart-form > .cr-wrapper a {
    text-decoration: none;
}
.woocommerce .woocommerce-cart-form > .cr-wrapper a:hover {
    text-decoration: underline;
} */

.cr-border {
    border: 2px solid #eee;
}
.cr-border.cr-remove-border {
    border-color: #000;
    transition: border-color 0.5s;
}

.cr-padding {
    padding: 20px 20px 0 20px;
}
@media (max-width: 576px) {
    .cr-padding {
        padding: 10px 10px 0 10px;
    }

    #cr-head > p {
        padding: 4px 0;
    }
}

#cr-head.cr-remove-border {
    border-bottom: none;
}
#cr-main.cr-remove-border {
    border-top: none;
}

.cr-link {
    cursor: pointer;
}
.cr-link:not(.cr-no-underline):hover {
    text-decoration: underline;
}
.cr-tabs > .cr-link {
    padding: 0 8px;
}

.cr-switch {
    display: inline-block;
    width: 21px;
    height: 21px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}
.cr-switch-off {
    transform: rotate(90deg);
}
.cr-switch-on {
    transform: rotate(-90deg);
}

.cr-tabs {
    display: flex;
    justify-content: space-around;
    margin: auto;
}
@media (min-width: 480px) {
    .cr-tabs {
        width: 80%;
    }
}
@media (min-width: 576px) {
    .cr-tabs {
        width: 60%;
    }
}
@media (min-width: 768px) {
    .cr-tabs {
        width: 50%;
    }
}

#cr-main.cr-active {
    /* height: 40rem !important; */
    /* min-height: 28rem; */
    /* 1334+: */
    max-height: 591.484px;
    /* max-height: 38rem; */
}
@media (max-width: 766px) {
    #cr-main.cr-active {
        max-height: 711.203px;
    }
}
#cr-main:not(.cr-active) {
    /* display: none; */
    height: 1px;
    overflow: hidden;
    padding: 0 20px;
    border: none;
}
.cr-tabs > .cr-link.cr-active {
    cursor: default;
    font-weight: bold;
    text-decoration: underline;
}
/* #cr-sliders > div:not(.cr-active) *,  */
#cr-sliders > div:not(.cr-active) {
    /* position: absolute;
    left: -99999px; */
    /* width: 500px !important; */
    padding: 0 20px;
    overflow: hidden;
    height: 1px;
    visibility: hidden;
}
/* #cr-sliders > div:not(.cr-active),
#cr-sliders > div:not(.cr-active) * {
    height: 1px;
    visibility: hidden;
} */
/* #cr-sliders > div:not(.cr-active) .slick-track, 
#cr-sliders > div:not(.cr-active) .slick-track > li {
    width: 500px !important;
} */
/* #cr-sliders > div:not(.cr-active),
#cr-sliders > div:not(.cr-active) ul > button,
#cr-sliders > div:not(.cr-active) ul li,
#cr-sliders > div:not(.cr-active) ul li .product-image > img,
#cr-sliders > div:not(.cr-active) ul li .product-caption > *,
#cr-sliders > div:not(.cr-active) ul li .product-bottom {
    height: 1px;
    visibility: hidden;
} */
