.wc_input_table.buyer {
    width: 50%;
}

.buyer .auction-points {
    display: flex !important;
    align-items: center;
}
.auction-points > span {
    margin: 0 0.5rem;
}

.auction-product-edit-title {
    padding-left: 12px;
}
