/* Custom styles starts */

.sz-text-highlight-red {
    color: red;
}

.sz-text-highlight-green {
    color: #5ab152;
}

.sz-size-checkbox {
    width: 1px;
    white-space: nowrap;
}

.sz-discount-fields {
    margin: 20px 0;
}

.sz-discount-field {
    margin: 10px 0;
}

.d-none {
    display: none;
}

.mtb-25 {
    margin: 25px 0;
}

.mlr-10 {
    margin: 0 10px;
}

.sz-sum-head {
    font-size: 20px;
}

.sz-sum-sub-desc {
    display: flex;
}

.sz-sum-title {
    margin: initial;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

/* Custom styles ends */

/* Responsive starts*/

@media screen and (max-width: 576px) {
    .sz-sum-sub-desc {
        display: block;
    }
}
