.wc-bookings-booking-form .block-picker a {
    color: rgb(43, 43, 43);
}

.sz-text-highlight {
    color: red;
}

.sz-size-checkbox {
    width: 1px;
    white-space: nowrap;
}

.sz-discount-fields {
    margin: 20px 0;
}

.sz-discount-field {
    margin: 10px 0;
}

.d-none {
    display: none;
}

.mtb-25 {
    margin: 25px 0;
}

.mlr-10 {
    margin: 0 10px;
}

.flex {
    display: flex;
}

.sz-summary-title {
    margin: initial;
    font-size: 24px;
    font-weight: 500;
}
