/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Custom styles starts */

.sz-text-highlight-green {
    color: #5ab152;
}

.sz-size-checkbox {
    width: 1px;
    white-space: nowrap;
}

.sz-discount-fields {
    margin: 20px 0;
}

.sz-discount-field {
    margin: 10px 0;
}

.d-none {
    display: none;
}

.mtb-25 {
    margin: 25px 0;
}

.mlr-10 {
    margin: 0 10px;
}

.sz-sum-head {
    color: #1d1e23;
}

.sz-sum-sub-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.sz-sum-title {
    margin: initial;
    color: #75b647 !important;
    text-align: center;
}

.p-question {
    margin-top: 1em;
}

.column {
    float: left;
    margin-right: 1em;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 576px) {
    .column {
        width: 100%;
    }
}

/* Custom styles ends */

/* Responsive starts*/

@media screen and (max-width: 576px) {
    .sz-sum-sub-desc {
        display: block;
    }
}
