/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Custom styles starts */

.sz-text-highlight-green {
    color: #5ab152;
}

.sz-text-highlight-bold {
    font-weight: 600;
}

.sz-size-checkbox {
    width: 1px;
    white-space: nowrap;
}

.sz-discount-fields {
    margin: 20px 0;
}

.sz-discount-field {
    margin: 10px 0;
}

.d-none {
    display: none;
}

.mtb-25 {
    margin: 25px 0;
}

.woocommerce-product-details__short-description .sc_title {
    margin-bottom: 0.5em;
}

.summary > .woocommerce-product-details__short-description p.sz-sum-head {
    text-align: center;
    margin-bottom: 3em;
}

.wc-bookings-booking-form label {
    font-size: 1.25rem;
}

.sz-sum-row > .wpb_column {
    margin-bottom: 1em;
}

.column {
    float: left;
    margin-right: 1em;
}

@media (min-width: 632px) {
    .p-question {
        padding: 0.6em 0.6em 0.6em 0;
    }
}
@media (min-width: 960px) {
    .p-question {
        padding: 1em 1em 1em 0;
    }
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 576px) {
    .column {
        width: 100%;
    }
}

/* Custom styles ends */

/* Responsive starts*/

@media screen and (max-width: 576px) {
    .sz-sum-sub-desc {
        display: block;
    }
}

.cart .sz-waiver {
    margin-left: 1rem;
}
.cart .sz-waiver > a {
    color: #000;
    font-weight: bold;
}
